debci_amqp_server="amqps://<%= node['debci']['amqp_server'] %>"
export OPENSSL_CONF=/dev/null
debci_amqp_ssl=true
debci_amqp_cacert=/etc/debci/ca.crt
debci_amqp_cert=/etc/debci/<%= node['fqdn'] %>.crt
debci_amqp_key=/etc/debci/<%= node['fqdn'] %>.key
