<VirtualHost *:80>
  ServerName <%= node['web_hostname'] %>
  <% Array(node['web_aliases']).each do |host| %>
  ServerAlias <%= host %>
  <% end %>
  Redirect / https://<%= node['web_hostname'] %>/
</VirtualHost>
<VirtualHost *:443>
  ServerName <%= node['web_hostname'] %>
  <% Array(node['web_aliases']).each do |host| %>
  ServerAlias <%= host %>
  <% end %>

  SSLEngine on
  SSLCertificateFile  /var/lib/dehydrated/certs/<%= node['web_hostname']%>/fullchain.pem
  SSLCertificateKeyFile /var/lib/dehydrated/certs/<%= node['web_hostname'] %>/privkey.pem
  SSLCipherSuite ECDHE-RSA-AES256-SHA384:AES256-SHA256:!RC4:HIGH:!MD5:!aNULL:!EDH:!AESGCM

  # workaround for lack of support for post-handshake authentication
  # in browsers. References:
  # https://hg.mozilla.org/integration/autoland/rev/1bb8ad865648
  # https://bugs.chromium.org/p/chromium/issues/detail?id=911653
  SSLProtocol all -TLSv1.3 -SSLv3

  RewriteEngine On

  <Directory /var/cache/munin/www>
    Allow from all
    Options -MultiViews
    Require all granted
  </Directory>
  <Directory /usr/lib/munin/cgi>
    Allow from all
    Options +ExecCGI
    Require all granted
    SetHandler cgi-script
  </Directory>
  <Location /munin-cgi/munin-cgi-graph>
    Require all granted
  </Location>
  RewriteRule ^/munin-cgi/(.*) /usr/lib/munin/cgi/$1 [QSA,L]
  RewriteRule ^/munin(.*)/$ /var/cache/munin/www/$1/index.html [QSA,L]
  RewriteRule ^/munin(.*)   /var/cache/munin/www/$1 [QSA,L]

  DocumentRoot /usr/share/debci/public

  PassengerEnabled on
  PassengerAppRoot /usr/share/debci
  PassengerAppType rack
  PassengerUser debci
  PassengerGroup debci
  PassengerAppGroupName debci
  PassengerAppEnv <%= node['debci']['development'] ? 'development' : 'production' %>

  ErrorLog ${APACHE_LOG_DIR}/debci.error.log
  CustomLog ${APACHE_LOG_DIR}/debci.access.log combined
  Alias /noindex.html /etc/debci/noindex.html
  <Location /noindex.html>
    Require all granted
  </Location>
  <Directory /usr/share/debci/public>
    Options FollowSymLinks
    AllowOverride None
    Require all granted
    DirectoryIndex index.html /noindex.html
  </Directory>
  <IfModule mod_headers.c>
    <FilesMatch "log$">
      Header set Content-Type "text/plain; charset=utf-8"
    </FilesMatch>
    <FilesMatch "log\.gz$">
      Header append Content-Encoding gzip
      Header set Content-Type "text/plain; charset=utf-8"
    </FilesMatch>
  </IfModule>

  SSLProxyEngine on
<% @apt_proxy.each do |name, url| %>
  <Location /<%= name %>>
    ProxyPass <%= url %>
    ProxyPassReverse <%= url %>
    Require all denied
    <% node['security_hosts'].each do |hostname, ip| %>
    # <%= hostname %>
    Require ip <%= ip %><% end %>
  </Location>
<% end %>


</VirtualHost>

# vim: ft=apache
