deb <%= @mirror %> unstable main
deb-src <%= @mirror.sub("-ports", "") %> unstable main

<% if node['debian_release'] != 'sid' %>
deb <%= @mirror %> experimental main
deb-src <%= @mirror %> experimental main
<% end %>
