---
# Order in this file is the order archives appear in the self service
# Ordering: regular, security, (non-codename) backports, updates, buildd,
# codename backports, unofficial (Team) archives

# Regular archives
experimental:
  entry: |
    deb-src http://deb.debian.org/debian experimental main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian experimental main contrib non-free non-free-firmware
unstable:
  entry: |
    deb-src http://deb.debian.org/debian unstable main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian unstable main contrib non-free non-free-firmware
testing:
  entry: |
    deb-src http://deb.debian.org/debian testing main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian testing main contrib non-free non-free-firmware
stable:
  entry: |
    deb-src http://deb.debian.org/debian stable main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian stable main contrib non-free non-free-firmware
oldstable:
  entry: |
    deb-src http://deb.debian.org/debian oldstable main contrib non-free
    deb http://deb.debian.org/debian oldstable main contrib non-free

# Security
stable-security:
  entry: |
    deb-src http://security.debian.org/debian-security stable-security main contrib non-free non-free-firmware
    deb http://security.debian.org/debian-security stable-security main contrib non-free non-free-firmware
buildd-stable-security:
  entry: |
    deb-src https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-stable-security main contrib non-free non-free-firmware
    deb https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-stable-security main contrib non-free non-free-firmware
  allowed_users:
    - 252 # security-team
oldstable-security:
  entry: |
    deb-src http://security.debian.org/debian-security oldstable-security main contrib non-free
    deb http://security.debian.org/debian-security oldstable-security main contrib non-free
buildd-oldstable-security:
  entry: |
    deb-src https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-oldstable-security main contrib non-free
    deb https://<%= node["web_hostname"] %>/debian-security-embargoed buildd-oldstable-security main contrib non-free
  allowed_users:
    - 252 # security-team

# Backports
stable-backports:
  entry: |
    deb-src http://deb.debian.org/debian stable-backports main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian stable-backports main contrib non-free non-free-firmware
stable-backports-sloppy:
  entry: |
    deb-src http://deb.debian.org/debian stable-backports-sloppy main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian stable-backports-sloppy main contrib non-free non-free-firmware
# before bookworm, the backports archive had the same Suite and Codename which doesn't work with autopkgtest

# Updates
testing-proposed-updates:
  entry: |
    deb-src http://deb.debian.org/debian testing-proposed-updates main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian testing-proposed-updates main contrib non-free non-free-firmware
stable-updates:
  entry: |
    deb-src http://deb.debian.org/debian stable-updates main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian stable-updates main contrib non-free non-free-firmware
proposed-updates:
  entry: |
    deb-src http://deb.debian.org/debian proposed-updates main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian proposed-updates main contrib non-free non-free-firmware
oldstable-updates:
  entry: |
    deb-src http://deb.debian.org/debian oldstable-updates main contrib non-free
    deb http://deb.debian.org/debian oldstable-updates main contrib non-free
oldstable-proposed-updates:
  entry: |
    deb-src http://deb.debian.org/debian oldstable-proposed-updates main contrib non-free
    deb http://deb.debian.org/debian oldstable-proposed-updates main contrib non-free

# Buildds
buildd-experimental:
  entry: |
    deb-src http://incoming.debian.org/debian-buildd buildd-experimental main contrib non-free non-free-firmware
    deb http://incoming.debian.org/debian-buildd buildd-experimental main contrib non-free non-free-firmware
buildd-unstable:
  entry: |
    deb-src http://incoming.debian.org/debian-buildd buildd-unstable main contrib non-free non-free-firmware
    deb http://incoming.debian.org/debian-buildd buildd-unstable main contrib non-free non-free-firmware

# Named backports
bookworm-backports:
  entry: |
    deb-src http://deb.debian.org/debian bookworm-backports main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian bookworm-backports main contrib non-free non-free-firmware
bookworm-backports-sloppy:
  entry: |
    deb-src http://deb.debian.org/debian bookworm-backports-sloppy main contrib non-free non-free-firmware
    deb http://deb.debian.org/debian bookworm-backports-sloppy main contrib non-free non-free-firmware
bullseye-backports:
  entry: |
    deb-src http://deb.debian.org/debian bullseye-backports main contrib non-free
    deb http://deb.debian.org/debian bullseye-backports main contrib non-free
bullseye-backports-sloppy:
  entry: |
    deb-src http://deb.debian.org/debian bullseye-backports-sloppy main contrib non-free
    deb http://deb.debian.org/debian bullseye-backports-sloppy main contrib non-free


# local APT proxy, for tests:
proxy-debian-testing:
  entry: |
    deb-src https://<%= node['web_hostname'] %>/debian testing main contrib non-free non-free-firmware
    deb https://<%= node['web_hostname'] %>/debian testing main contrib non-free non-free-firmware
proxy-debian-unstable:
  entry: |
    deb-src https://<%= node['web_hostname'] %>/debian unstable main contrib non-free non-free-firmware
    deb https://<%= node['web_hostname'] %>/debian unstable main contrib non-free non-free-firmware

# PHP rebuild (contact athos.ribeiro@canonical.com)
php-next:
  entry: |
    deb [trusted=yes] https://people.ubuntu.com/~athos-ribeiro/rebuilds/php8.4-beta/ ./
    deb-src [trusted=yes] https://people.ubuntu.com/~athos-ribeiro/rebuilds/php8.4-beta/ ./
# OCaml team test repo (contact glondu@d.o)
ocaml-next:
  entry: |
    deb [trusted=yes] http://ocaml.debian.net/transitions/ocaml-next/pool ./
    deb-src [trusted=yes] http://ocaml.debian.net/transitions/ocaml-next/pool ./
# Perl team test repo
perl-next:
  entry: |
    deb [trusted=yes] http://perl.debian.net/test-repo/ perl-next main
    deb-src [trusted=yes] http://perl.debian.net/test-repo/ perl-next main
ruby-3.1:
  entry: |
    deb [trusted=yes] https://people.debian.org/~kanashiro/ruby3.1/ ./
