lxc.net.0.type = veth
lxc.net.0.link = lxcbr0
lxc.net.0.flags = up

lxc.apparmor.profile = generated
lxc.apparmor.allow_nesting = 1
<% Hash(node['lxc_extra_config']).each do |key, value| %>
<%= key %> = <%= value %>
<% end %>
