loopback_users = none

listeners.ssl.default = 5671
ssl_options.cacertfile = /etc/rabbitmq/ca.crt
ssl_options.certfile   = /etc/rabbitmq/<%= node['fqdn'] %>.crt
ssl_options.keyfile    = /etc/rabbitmq/<%= node['fqdn'] %>.key
ssl_options.verify     = verify_peer
ssl_options.fail_if_no_peer_cert = true
ssl_handshake_timeout  = 60000
handshake_timeout      = 60000

management.tcp.ip = 127.0.0.1

# since migration to bookworm, the default doesn't work
# 10 hours
consumer_timeout = 36000000
