Host *
  TCPKeepAlive yes
  ServerAliveInterval 60
  ConnectTimeout 30
  StrictHostKeyChecking no
<% if @user_known_hosts_file -%>
  UserKnownHostsFile <%= @user_known_hosts_file %>
<% end -%>
<% @nodes.each do |hostname, ip, ssh_options| -%>
Host <%= hostname %>
<% if ip -%>
  HostName <%= ip %>
<% end -%>
<% Array(ssh_options).each do |opt| -%>
  <%= opt %>
<% end %>
<% end -%>
